parameters:
	level: max
	paths:
		- ../../etc
		- ../../src
		- ../../tests
	ergebnis:
		noExtends:
			classesAllowedToBeExtended:
			- WyriHaximus\React\PSR3\Loggly\AbstractLogglyLogger
	ignoreErrors:
		-
			identifier: method.childParameterType
			path: ../../src/AbstractLogglyLogger.php
			count: 4
